@model IEnumerable<LoginBiblioteca.Models.Borrow>
<h3>Sumar imprumuturi</h3>
<hr/>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Nr. carti
        </th>
        <th>
           Email
        </th>
        <th>
           Nume carte
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nr_carti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carti.Nume_carte)
        </td>
    </tr>
}

</table>
