@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Team Grashii<br />
    Str. Cerbului 14<br />
    <abbr title="Phone">P:</abbr>
    0721345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Support.com">Support@Support.com</a><br />
</address>