@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Parola a fost resetata.@Html.ActionLink("Click aici pentru log in", "BibliotecaLogin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
